$("#conversation").html("#{j(render :partial=>'chat',:collection=>@room.chats)}");
$('#conversation').animate({scrollTop: $('#conversation')[0].scrollHeight}, 'fast');
if($("#room_id").val()!="#{@room.id}"){
$("#room_id").val("#{@room.id}");
$("#room_name").text("#{@room.inspect}");
webrtc("#{current_user.user_id}","#{@room.id}");
}
