
.row.app-one
  .col-sm-4.side
    .side-one
      .row.heading
        .col-sm-3.col-xs-3.heading-avatar
          .heading-avatar-icon
            -img_url=current_user.image.to_s.presence ||"https://bootdey.com/img/Content/avatar/avatar6.png"
            =image_tag img_url
        =current_user.name
      .row.searchBox
        .col-sm-12.searchBox-inner
          %btn.btn-lg.btn-success.btn-block.text-center#reload_room
            更新
      .row.searchBox
        .col-sm-12.searchBox-inner
          .form-group.has-feedback
            %input#searchText.form-control{:name => "searchText", :placeholder => "Search", :type => "text"}/
            %span.glyphicon.glyphicon-search.form-control-feedback
      .row.sideBar
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#tab1"} Rooms
          %li
            %a{"data-toggle" => "tab", :href => "#tab2"} Users
        #myTabContent.tab-content
          #tab1.tab-pane.fade.in.active
            =render :partial => "room", :collection => current_user.rooms
          #tab2.tab-pane.fade
            =render :partial => "user", :collection => User.all
    .side-two
      .row.newMessage-heading
        .row.newMessage-main
          .col-sm-2.col-xs-2.newMessage-back
            %i.fa.fa-arrow-left{"aria-hidden" => "true"}
          .col-sm-10.col-xs-10.newMessage-title
            New Chat
      .row.composeBox
        .col-sm-12.composeBox-inner
          .form-group.has-feedback
            %input#composeText.form-control{:name => "searchText", :placeholder => "Search People", :type => "text"}/
            %span.glyphicon.glyphicon-search.form-control-feedback
      .row.compose-sideBar
        .row.sideBar-body
          .col-sm-3.col-xs-3.sideBar-avatar
            .avatar-icon
              %img{:src => "https://bootdey.com/img/Content/avatar/avatar1.png"}/
          .col-sm-9.col-xs-9.sideBar-main
            .row
              .col-sm-8.col-xs-8.sideBar-name
                %span.name-meta
                  John Doe
              .col-sm-4.col-xs-4.pull-right.sideBar-time
                %span.time-meta.pull-right
                  18:18
        .row.sideBar-body
          .col-sm-3.col-xs-3.sideBar-avatar
            .avatar-icon
              %img{:src => "https://bootdey.com/img/Content/avatar/avatar2.png"}/
          .col-sm-9.col-xs-9.sideBar-main
            .row
              .col-sm-8.col-xs-8.sideBar-name
                %span.name-meta
                  John Doe
              .col-sm-4.col-xs-4.pull-right.sideBar-time
                %span.time-meta.pull-right
                  18:18
        .row.sideBar-body
          .col-sm-3.col-xs-3.sideBar-avatar
            .avatar-icon
              %img{:src => "https://bootdey.com/img/Content/avatar/avatar3.png"}/
          .col-sm-9.col-xs-9.sideBar-main
            .row
              .col-sm-8.col-xs-8.sideBar-name
                %span.name-meta
                  John Doe
              .col-sm-4.col-xs-4.pull-right.sideBar-time
                %span.time-meta.pull-right
                  18:18
        .row.sideBar-body
          .col-sm-3.col-xs-3.sideBar-avatar
            .avatar-icon
              %img{:src => "https://bootdey.com/img/Content/avatar/avatar4.png"}/
          .col-sm-9.col-xs-9.sideBar-main
            .row
              .col-sm-8.col-xs-8.sideBar-name
                %span.name-meta
                  John Doe
              .col-sm-4.col-xs-4.pull-right.sideBar-time
                %span.time-meta.pull-right
                  18:18
        .row.sideBar-body
          .col-sm-3.col-xs-3.sideBar-avatar
            .avatar-icon
              %img{:src => "https://bootdey.com/img/Content/avatar/avatar5.png"}/
          .col-sm-9.col-xs-9.sideBar-main
            .row
              .col-sm-8.col-xs-8.sideBar-name
                %span.name-meta
                  John Doe
              .col-sm-4.col-xs-4.pull-right.sideBar-time
                %span.time-meta.pull-right
                  18:18
        .row.sideBar-body
          .col-sm-3.col-xs-3.sideBar-avatar
            .avatar-icon
              %img{:src => "https://bootdey.com/img/Content/avatar/avatar6.png"}/
          .col-sm-9.col-xs-9.sideBar-main
            .row
              .col-sm-8.col-xs-8.sideBar-name
                %span.name-meta
                  John Doe
              .col-sm-4.col-xs-4.pull-right.sideBar-time
                %span.time-meta.pull-right
                  18:18
        .row.sideBar-body
          .col-sm-3.col-xs-3.sideBar-avatar
            .avatar-icon
              %img{:src => "https://bootdey.com/img/Content/avatar/avatar2.png"}/
          .col-sm-9.col-xs-9.sideBar-main
            .row
              .col-sm-8.col-xs-8.sideBar-name
                %span.name-meta
                  John Doe
              .col-sm-4.col-xs-4.pull-right.sideBar-time
                %span.time-meta.pull-right
                  18:18
        .row.sideBar-body
          .col-sm-3.col-xs-3.sideBar-avatar
            .avatar-icon
              %img{:src => "https://bootdey.com/img/Content/avatar/avatar3.png"}/
          .col-sm-9.col-xs-9.sideBar-main
            .row
              .col-sm-8.col-xs-8.sideBar-name
                %span.name-meta
                  John Doe
              .col-sm-4.col-xs-4.pull-right.sideBar-time
                %span.time-meta.pull-right
                  18:18
        .row.sideBar-body
          .col-sm-3.col-xs-3.sideBar-avatar
            .avatar-icon
              %img{:src => "https://bootdey.com/img/Content/avatar/avatar4.png"}/
          .col-sm-9.col-xs-9.sideBar-main
            .row
              .col-sm-8.col-xs-8.sideBar-name
                %span.name-meta
                  John Doe
              .col-sm-4.col-xs-4.pull-right.sideBar-time
                %span.time-meta.pull-right
                  18:18
        .row.sideBar-body
          .col-sm-3.col-xs-3.sideBar-avatar
            .avatar-icon
              %img{:src => "https://bootdey.com/img/Content/avatar/avatar5.png"}/
          .col-sm-9.col-xs-9.sideBar-main
            .row
              .col-sm-8.col-xs-8.sideBar-name
                %span.name-meta
                  John Doe
              .col-sm-4.col-xs-4.pull-right.sideBar-time
                %span.time-meta.pull-right
                  18:18
  .col-sm-8.conversation
    .row.heading
      .col-sm-2.col-md-1.col-xs-3.heading-avatar
        .heading-avatar-icon
          %img{:src => "https://bootdey.com/img/Content/avatar/avatar6.png"}/
      .col-sm-6.col-xs-3.heading-name
        %a.heading-name-meta#room_name
          Roomを選択してください。
        %span.heading-online Online
      .col-sm-2.col-xs-2.pull-right
        = link_to "ログアウト", destroy_user_session_path, method: :delete
        = link_to "編集", edit_user_registration_path
    #conversation.row.message
    .row.reply
      .col-sm-9.col-xs-9.reply-main.col-sm-offset-1.col-xs-offset-1
        %textarea#comment.form-control{:rows => "3"}
      .col-sm-1.col-xs-1.reply-recording
        %i.fa.fa-phone.fa-2x#start_tell{"aria-hidden" => "true"}
      -# .col-sm-1.col-xs-1.reply-send
        %i.fa.fa-send.fa-2x{"aria-hidden" => "true"}

.hidden
  = form_tag({:controller => 'home', :action => 'get_room'}, :remote => true, :class => 'form-ajax',:id=>"get_room_form") do
    = hidden_field_tag :ajax_handler, 'get_room'
    = hidden_field_tag :user, ''
    = hidden_field_tag :room, ''
    = submit_tag '',:id=>"get_room"
  = form_tag({:controller => 'home', :action => 'get_chat'}, :remote => true, :class => 'form-ajax',:id=>"get_chat_form") do
    = hidden_field_tag :ajax_handler, 'get_chat'
    = hidden_field_tag :user_id, ''
    = hidden_field_tag :room_id, ''
    = hidden_field_tag :content, ''
    = submit_tag '',:id=>"get_chat"
  = form_tag({:controller => 'home', :action => 'update_left'}, :remote => true, :class => 'form-ajax',:id=>"update_left_form") do
    = hidden_field_tag :ajax_handler, 'update_left'
    = submit_tag '',:id=>"update_left"
  %input{:value=>current_user.id,:id=>"my_user_id"}
  %input{:value=>current_user.name,:id=>"my_name"}
  %input{:value=>(current_user.image.url.presence ||"https://bootdey.com/img/Content/avatar/avatar6.png"),:id=>"my_image"}
  %input{:value=>"",:id=>"room_id"}
  #chat_template_sender
    -chat_sample=current_user.chats.build(content:"サンプル");
    =render "chat",chat:chat_sample
  #chat_template_receiver
    -sample_user=User.new();
    -chat=sample_user.chats.build();
    =render "chat",chat:chat
