%h2 Log in
= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = devise_error_messages!
  = f.email_field :email, autofocus: true
  = f.password_field :password, autocomplete: "off"
  = f.submit "Log in",:class=>"btn btn-info btn-block"
= render "devise/shared/links"
